In [ ]:
# c:/Users/ng005454/OneDrive/Project/STUTERN/08102021/env/Scripts/activate.bat
# c:/Users/ng005454/OneDrive/Project/STUTERN/08102021/env/Scripts/python.exe -m pip install -U ipykernel

In [2]:
print("Hello Python!")

Hello Python!

Python Types

In [3]:
# Int
type(2021)

int

In [4]:
# float
type(1.234)

float

In [5]:
# string
type("Hello World")

str

In [6]:
# boolean (True or False)
type(True)

bool

Type Casting

In [11]:
str(12)

'12'

In [14]:
float(12)

12.0

In [16]:
int(12.9)

12

Expressions and Variable

In [20]:
# basic operators
# + addition
#  - subtraction
#  * multiplication
#  / division
#  ** power
#  // modulus

12+4*(6-3)/8-3

10.5

In [38]:
number_one = 5
b = 7/3

In [39]:
number_one

5

In [33]:
7//5

1

In [41]:
ACCELERATION_DUE_TO_GRAVITY = 9.8

In [42]:
ACCELERATION_DUE_TO_GRAVITY

9.8

String Operations

In [43]:
string_example = "Today"

In [44]:
string_example

'Today'

In [47]:
string_example[4]

'y'

In [49]:
# Stride
string_example[::3]

'Ta'

In [59]:
# Slicing

string_example[0:4]

'Toda'

In [62]:
string_example[2:]

'day'

In [69]:
"Sunday"[-3:]

'day'

In [53]:
len(string_example)

5

In [55]:
# Concatenation
string_one = "Chapter"
string_two = "One"

string_one+" "+string_two

'Chapter One'

In [58]:
# Replication

star_character = "*"

string_two*10

'OneOneOneOneOneOneOneOneOneOne'

In [74]:
string_with_escape_char = 'Today\'s date is 08102021'

string_with_escape_char

"Today's date is 08102021"

In [76]:
string_with_escape_char = "Today's date is 08102021"
string_with_escape_char

"Today's date is 08102021"

In [4]:
string_with_a_new_line_char = "Today\n \t is Friday"
print(string_with_a_new_line_char)

Today
 	 is Friday

In [81]:
print(string_example,string_one,string_two,)

Today Chapter One

In [89]:
for i in [string_example,string_one,string_two]:
    print(i,end="")

TodayChapterOne

In [96]:
string_example = "Stutern"

# len
len(string_example)

# Upper
string_example.upper()

# lower
string_example.lower()

# title
string_example.title()

# find
string_example.find('t')

# replace
string_example.replace('t','7')

'S7u7ern'

Python Data Structures

In [97]:
list_one = [1,2.5,"one",True]

In [98]:
list_one

[1, 2.5, 'one', True]

In [99]:
tuple_one = (1,2.5,"one",True)

In [100]:
tuple_one

(1, 2.5, 'one', True)

In [107]:
# list is mutable
list_one[0]=13
list_one

[13, 2.5, 'one', True]

In [116]:
# tuple is immutable
tuple_one[:-2]
list_one[-1]=False
list_one

[13, 2.5, 'one', False]

In [117]:
# append
list_one.append("Iretioluwa")
list_one

[13, 2.5, 'one', False, 'Iretioluwa']

In [6]:
# extend
list_two = ["Friday", "Monday", 10.8]
list_one.extend(list_two)
list_one

[13,
 2.5,
 'one',
 False,
 'Iretioluwa',
 '1',
 '0',
 '.',
 '8',
 'Friday',
 'Monday',
 10.8]

In [23]:
list_one = [13, 2.5, 'one', False, 'Iretioluwa']

In [2]:
list_one

[13, 2.5, 'one', False, 'Iretioluwa']

In [5]:
list_one.extend("10.8")
list_one

[13, 2.5, 'one', False, 'Iretioluwa', '1', '0', '.', '8']

In [9]:
list_one.append(list_two)
list_one

[13,
 2.5,
 'one',
 False,
 'Iretioluwa',
 '1',
 '0',
 '.',
 '8',
 'Friday',
 'Monday',
 10.8,
 ['Friday', 'Monday', 10.8],
 ['Friday', 'Monday', 10.8],
 ['Friday', 'Monday', 10.8]]

In [21]:
# Set
set_example = {1, 2.3,"a",False, 1}
set_example

{1, 2.3, False, 'a'}

In [25]:
print("This is the original list", list_one)
print("This is the set version", set(list_one))

This is the original list [13, 2.5, 'one', False, 'Iretioluwa']
This is the set version {False, 2.5, 'one', 13, 'Iretioluwa'}

In [26]:
set_example

{1, 2.3, False, 'a'}

In [27]:
dir(set_example)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [28]:
set_example.add("Python")

In [29]:
set_example

{1, 2.3, False, 'Python', 'a'}

In [30]:
set_example_two = {"stutern", True, 1}

set_example.union(set_example_two)

{1, 2.3, False, 'Python', 'a', 'stutern'}

In [31]:
int(True)

1

In [37]:
set_example_two.add(False)

In [38]:
set_example_two

{0, True, 'stutern'}

In [39]:
list_with_duplicates = [1,2,3,4,1,2,3,4,5]
list(set(list_with_duplicates))

[1, 2, 3, 4, 5]

Dictionaries

In [40]:
dictionary_example = {
    "one":1,
    "two":2,
    "three":3
}

dictionary_example

{'one': 1, 'two': 2, 'three': 3}

In [41]:
dir(dictionary_example)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [42]:
dictionary_example.keys()

dict_keys(['one', 'two', 'three'])

In [43]:
dictionary_example.values()

dict_values([1, 2, 3])

In [48]:
list(dictionary_example.items())[2][0]

'three'

In [45]:
dictionary_example.get("two")

2